@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&display=swap');

.App {
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.footer{
    background-color:#000;
    color:#fff;
    display:flex;
    flex-direction:row;
    width:100%;
    justify-content:center;
    align-items:center;
}

.App-header {
  background-color: transparent;
  display: flex;
  align-items:center;
  justify-content:center;
  font-size: calc(10px + 2vmin);
  color: #434343;
  font-family: 'Raleway', sans-serif;
  box-shadow: 10px 0 20px #ababab;
}
.menu{
    width : 100%;
    flex: 1;
    display:flex;
    flex-direction:row;
    margin:auto;
    text-align:center;
    justify-content: center;
}
.sticky{
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .blog{
    padding-top:100px;
}

.noicehvr{
    background-color:transparent;
    transition:0.2s;
    color:#fff;
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 10%;
    margin:0 10px;
    cursor: pointer;
}

.noicehvr p {
  padding: 5px 10px;
  border-radius: 100px;
  background-color: transparent;
  display: flex;
  color: #434343;
  font-family: 'Raleway',sans-serif;
  font-size: 20px;
  font-weight: 600;
  transition: 0.3s ease-in;
}

.noicehvr p:hover{
    background-color:#eeeeee;
    color:#000;
    transition: 0.3s ease-in;
    /* border-bottom: 3px solid #3700B3; */
}

.websites{
    background-color:#e8eaf6;
    margin:50px;
    padding:30px;
    padding-top:10px;
    text-align:justify;
    border-left: 5px solid #00bfa5;
}

.simple-block{
    width:100%;
    text-align: center;
    margin:auto;
}

.blog {
  /* box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
;

   */
  box-shadow: 5px 5px 10px #eee;
  padding:40px;
  padding-top : 10px;
  min-height: 200px;
  width: 65%;
  margin:auto;
  margin-top:40px;
  margin-bottom:40px;
  background-color:  #efefef;
  word-spacing:auto;
  font-size:17px;
  text-align:justify;
  border-radius: 10px;
  
}
.App-link {
  color: #61dafb;
}

a {
  text-decoration: none;
} 

az {
  color :#00bfa5;
} 

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
